PRMS_IV
####
model_mode
1
4
PRMS
####
dprst_flag
1
1
0
####
cascade_flag
1
1
0
####
parameter_check_flag
1
1
-1
####
aniOutON_OFF
1
1
2
####
aniOutVar_names
6
4
pkwater_equiv
soil_moist_tot
hru_actet
sroff
ssres_flow
gwres_flow
####
naniOutVars
1
1
6
####
ani_output_file
1
4
{out_prefix}
####
start_time
6
1
{startyear}
1
1
0
0
0
####
end_time
6
1
{endyear}
12
31
0
0
0
####
executable_desc
1
4
PRMS 4
####
executable_model
1
4
prms
####
model_mode
1
4
DAILY
#### <- turn off
model_output_file
1
4
{out_prefix}.out
####
param_file
1
4
{param_file}
####
data_file
1
4
{data_file}
####
precip_module
1
4
climate_hru
####
temp_module
1
4
climate_hru
####
solrad_module
1
4
climate_hru
####
capillary_module
1
4
soilzone
####
gravity_module
1
4
soilzone
####
srunoff_module
1
4
srunoff_smidx
####
strmflow_module
1
4
strmflow
####
tmax_day
1
4
{forcing}
####
tmin_day
1
4
{forcing}
####
precip_day
1
4
{forcing}
####
swrad_day
1
4
{forcing}
####
init_vars_from_file
1
1
{use_init_state_file}
####
var_init_file
1
4
{input_state}
####
var_save_file
1
4
{output_state}
####
save_vars_to_file
1
1
{write_state_file}
